/* Shared styles */
*{
    box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

:root {
  --primary-color: #ff42a5;
}

/* header styles */
/* nav styles */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 5px 5px rgba(128, 128, 128, 0.1);
}
.nav-logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    
}
.nav-logo-image{
    margin-right: 10px;
}
.nav-title {
  color: #0b0223;
  font-size: 45px;
  font-weight: 700;
}
.zee {
  color: var(--primary-color);
}

.nav-menu{
    display: flex;
    justify-content: end;
    width: 50%;
}
.nav ul{
    width:60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav li{
    list-style: none;
}
.normal-li{
    cursor: pointer;
}
.follow-us{
    background-color: rgba(11, 2, 35, 0.10);
    width: 50%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav li img{
    width: 25px;
    height: 25px;
    object-fit: cover;
    cursor: pointer;
}




@media screen and (max-width:576px) {
    /* Responsive nav for mobile */
    .nav{
        flex-direction: column;
        align-items: center;
    }
    .nav-menu{
        width: 100%;
        justify-content: center;
        
    }
    .nav-menu ul{
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0;
      
    }
    .follow-us{
        width: 100%;
        margin-top: 20px;

    }
    .normal-li{
        margin: 20px auto;
    } 
}


@media screen and (min-width: 577px) and (max-width: 992px){
    /* Responsive nav for tablet */
    .nav{
        flex-direction: column;
        align-items: center;
    }
    .nav-menu{
        width: 100%;
        justify-content: center;
        
    }
    .nav-menu ul{
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0;
      
    }
    .follow-us{
        width: 100%;
        margin-top: 20px;
    }
    .normal-li{
        margin: 20px auto;
    }  
}
