/* Shared styles */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

:root {
  --primary-color: #ff42a5;
}

.primary-color {
  color: var(--primary-color);
}

.gradient-color {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-primary-1 {
  border: none;
  border-radius: 48px;
  background-color: #ff42a5;
  padding: 20px 35px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 0;
  margin-right: 0;
  cursor: pointer;
}
.btn-primary-2 {
  border: none;
  border-radius: 48px;
  background-color: #4ec5f7;
  padding: 20px 35px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 0;
  cursor: pointer;
}
svg {
  cursor: pointer;
}

/* header styles */
/* nav styles */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 5px 5px rgba(128, 128, 128, 0.1);
}
.nav-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-logo-image {
  margin-right: 10px;
}
.nav-title {
  color: #0b0223;
  font-size: 45px;
  font-weight: 700;
}
.zee {
  color: var(--primary-color);
}

.nav-menu {
  display: flex;
  justify-content: end;
  width: 50%;
}
.nav ul {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav li {
  list-style: none;
}
.normal-li {
  cursor: pointer;
}
.follow-us {
  background-color: rgba(11, 2, 35, 0.1);
  width: 50%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav li img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  cursor: pointer;
}
/* Banner styles */
.banner {
  display: flex;
  justify-content: space-around;
  background-image: url(../images/Group\ 14.png);
  background-repeat: no-repeat;
  padding-right: 25px;
  align-items: center;
}
.banner-content {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 46px;
}
.banner-title-1 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.banner-title-2 {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
  margin-bottom: 20px;
}

.banner-description {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
}
.banner-buttons {
  margin-top: 20px;
}

/* funny videos styles */
.funny-videos-container {
  width: 75%;
  margin: 0 auto;
}
.funny-videos-title {
  margin-top: 120px;
  margin-bottom: 1rem;
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
.funny-videos-description {
  color: #534c64;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
}
.funny-videos-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: space-around;
  margin: 40px 0;
}

.play-button-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #ff42a5;
}

.funny-videos-images .game-image {
  justify-self: center;
  width: 100%;
  cursor: pointer;
  height: 100%;
}
.play-button img {
  display: block;
  margin: 0 auto;
}
.play-button {
  position: absolute;
  right: 0;
  top: 40%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.image-card:hover .game-image{
  outline: 5px solid #ff42a5;
  border-radius: 16px;
  opacity: 0.5;
}
.image-card:hover .play-button {
  opacity: 1;
}

.black-layer {
  background-color: #000;
  border-radius: 16px;
  height: auto;
  display: flex;
  align-items: end;
}
.image-card {
  position: relative;
}

/* Play instantly section styles */
.play-instantly-container {
  display: flex;
  width: 75%;
  margin: 0 auto;
  gap: 134px;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 120px;
}
.play-instantly-content {
  margin: 0 auto;
}
.play-instantly-title {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.play-instantly-content p {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  width: 80%;
  margin: 0 auto;
}
.play-instantly-images {
  position: relative;
}
.play-instantly-images .small-image {
  position: absolute;
  bottom: -10%;
  left: -25%;
}
/* Genre Section Styles */
.genre-section {
  padding: 200px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.genre-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.genre {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px 20px 10px 10px;
}

.genre-title {
  color: #0b0223;
  font-size: 20px;
  font-weight: 600;
}
.genre:hover {
  outline: 1px solid #ff42a5;
}
.genre:hover .genre-title {
  color: #ff42a5;
}
/* Footer Styles */
.footer h3 {
  width: max-content;
}
.footer .nav-logo {
  width: fit-content;
  display: flex;
  justify-content: center;
}
.footer {
  background-color: #0b0223;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0 120px 0px;
}
.links p {
  color: white;
}
.links {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.social {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  margin: 20px auto;
  gap: 60px;
}
.footer p {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 576px) {
  /* Responsive nav for mobile */
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .nav-menu {
    width: 100%;
    justify-content: center;
  }
  .nav-menu ul {
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
  .follow-us {
    width: 100%;
    margin-top: 20px;
  }
  .normal-li {
    margin: 20px auto;
  }
  /* Responsive banner for mobile */
  .banner {
    flex-direction: column-reverse;
    align-items: center;
    background-image: none;
    padding-right: 0;
  }
  .banner img {
    width: 80%;
    display: block;
    margin: 30px auto;
  }
  .banner-content {
    width: fit-content;
    margin-left: 0;
    align-items: start;
    /* padding-left: 120px; */
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .mobile {
    background-image: url("../images/Group\ 14.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .banner-title-1 {
    color: #0b0223;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .banner-title-2 {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .btn-primary-1 {
    border: none;
    border-radius: 1.5rem;
    background-color: #ff42a5;
    padding: 10px 17.4px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 0;
    margin-right: 0;
  }
  .btn-primary-2 {
    border: none;
    border-radius: 1.5rem;
    background-color: #4ec5f7;
    padding: 10px 17.4px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 0;
    margin-right: 0;
  }
  .banner-description {
    color: #534c64;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: lowercase;
  }
  .banner-buttons {
    margin-top: 20px;
  }
  /* Responsive Funny Video Section for mobile */
  .funny-videos-title {
    margin-top: 60px;
  }
  .funny-videos-images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .image-card > p {
    text-align: center;
    color: #534c64;
    font-size: 1rem;
    font-weight: 500;
  }
  /* Responsive Play instantly section for mobile */
  .play-instantly-container {
    flex-direction: column;
    gap: 70px;
  }
  .play-instantly-title {
    text-align: center;
    width: fit-content;
    font-size: 2rem;
  }
  .play-instantly-content p {
    text-align: center;
    width: 100%;
  }
  .play-instantly-images {
    width: 80%;

    margin: 0 auto;
  }
  .play-instantly-images .small-image {
    width: 50%;
  }
  .play-instantly-images .large-image {
    width: 100%;
  }
  /* Responsive Genre Section for mobile */
  .genre-section {
    padding: 40px;
  }
  .genre-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .genre {
    gap: 4px;
    padding: 0;
    justify-content: center;
    padding-left: 1px;
  }
  .genre-title {
    font-size: 0.5rem;
    font-weight: 600;
    width: 60%;
  }
  .genre img {
    width: 20%;
  }

  /* Footer Responsive for mobile */
  .footer-container {
    width: 85%;
  }
  .links {
    gap: 60px;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }
  .links p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .social {
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 80px;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  /* Responsive nav for tablet */
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .nav-menu {
    width: 100%;
    justify-content: center;
  }
  .nav-menu ul {
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
  .follow-us {
    width: 100%;
    margin-top: 20px;
  }
  .normal-li {
    margin: 20px auto;
  }
  /* Responsive banner for tablet */
  .banner {
    flex-direction: column-reverse;
    align-items: center;
    background-image: none;
    padding-right: 0;
  }
  .banner img {
    width: 80%;
    display: block;
    margin: 30px auto;
  }
  .banner-content {
    width: fit-content;
    margin-left: 0;
    align-items: start;
    /* padding-left: 120px; */
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .mobile {
    background-image: url("../images/Group\ 14.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .banner-title-1 {
    color: #0b0223;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .banner-title-2 {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-primary-1 {
    border: none;
    border-radius: 1.5rem;
    background-color: #ff42a5;
    padding: 10px 17.4px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 0;
    margin-right: 0;
  }
  .btn-primary-2 {
    border: none;
    border-radius: 1.5rem;
    background-color: #4ec5f7;
    padding: 10px 17.4px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 0;
    margin-right: 0;
  }
  .banner-description {
    color: #534c64;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: lowercase;
    text-align: start;
    margin-left: auto;
    margin-right: auto;
  }
  .banner-buttons {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Responsive Funny Video Section for tablet */
  .funny-videos-title {
    margin-top: 60px;
  }
  .funny-videos-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .image-card > p {
    text-align: center;
    color: #534c64;
    font-size: 1rem;
    font-weight: 500;
  }
  /* Responsive Play instantly section for tablet */
  .play-instantly-container {
    flex-direction: column;
    gap: 70px;
  }
  .play-instantly-content {
  }
  .play-instantly-title {
    text-align: center;
    width: fit-content;
    font-size: 2rem;
  }
  .play-instantly-content p {
    text-align: center;
    width: 100%;
  }
  .play-instantly-images {
    width: 80%;

    margin: 0 auto;
  }
  .play-instantly-images .small-image {
    width: 50%;
  }
  .play-instantly-images .large-image {
    width: 100%;
  }
  /* Responsive genre for tablet */
  .genre-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);

    
  }

  /* Footer Responsive for tablet */
  .footer-container {
    width: 85%;
  }
  .links {
    gap: 80px;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }
  .links p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .social {
    margin-top: 60px;
    flex-flow: row wrap;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 80px;
  }
}
